.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 1px solid lightgray;
    /* background-color: lightgreen; */
    margin-right: 10px;
    margin-left: 150px;
}
.search-container{
    background-color: rgba(0, 0, 0, 0.616);
    text-align: center;
    padding: 10px;
    
}
.search-container input{
   width: 50%;
   border-radius: 15px;
   padding:10px;

}