.navbar {
  background-color: black;
  line-height: 40px;
}
.navbar nav a {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin-right: 20px;
  font-size: 20px;
}
.navbar nav a:hover {
  background-color: lightgray;
}
